<section class="page_profil">
  <div class="page__header">
    <a routerLink="/" class="page__header--link">
      <i class="icon-arrow"></i>
    </a>
  </div>
  <div class="page__title">
    <h2>My profil</h2>
  </div>
  <div class="page_profil__user">
    <p class="page_profil__user--firstname" *ngIf="currentUser">{{ currentUser.user.firstname }} </p>
    <p class="page_profil__user--lastname" *ngIf="currentUser">{{ currentUser.user.lastname }}</p>
    <!--<p class="page_profil__user&#45;&#45;email">{{ currentUser.email }}</p>-->
    <span (click)="logout()" class="page_profil__user--logout">Logout</span>
  </div>
</section>
