<div *ngFor="let article of Articles">

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{article.urlToImage}}" alt="Placeholder image">
      </figure>
    </div>
    <a href="{{article.url}}">
      <div class="card-header-title is-centered">
        {{(article.title)}}
      </div>
      <div class="card-content">
        <div class="content">
          {{(article.description)}}
        </div>
      </div>
    </a>
  </div>

</div>
