<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      YANA
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>

      <a class="navbar-item" routerLink="/search">
        Search
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/auth/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" routerLink="/auth/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<body>
  <section class="section">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</body>
