<form (submit)="search()" [formGroup]="form">
  <div class="select">
    <select formControlName="source">
      <option value="{{ source.id }}" [selected]="source.id" *ngFor="let source of Sources">{{ source.name }}</option>
    </select>

    <button class="button is-success" value="search" type="submit">Success</button>

  </div>
</form>
